<div *ngIf="base" class="uk-margin-bottom">
  <a
    routerLink="../../"
    class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom uk-button-small"
  >
    <a uk-icon="icon: arrow-left"></a>
    go back
  </a>
  <div class="uk-child-width-expand@s uk-margin-small-top uk-grid" uk-grid="">
    <div>
      <div class="uk-card uk-card-hover uk-card-default ">
        <div class="uk-card-media-top">
          <img [src]="base.image" class="uk-width-1-1" alt="" />
        </div>
        <form action="" (ngSubmit)="onEdit(f)" #f="ngForm">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto uk-card-title">
                <b>Name</b>
                <div class="uk-margin">
                  <input
                    name="name"
                    [ngModel]="base.name"
                    class="uk-input"
                    type="text"
                    placeholder="Input"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <div class="uk-margin">
              <h4>
                <b>image Url </b>
              </h4>
              <input
                name="image"
                [(ngModel)]="base.image"
                class="uk-input"
                type="text"
                placeholder="Input"
                value="{{ base.image }}"
              />
            </div>
            <div class="uk-margin">
              <h4>
                <b>Location</b>
              </h4>
              <input
                name="location"
                [ngModel]="base.location"
                class="uk-input"
                type="text"
                placeholder="Input"
                value="{{ base.location }}"
              />
            </div>

            <div class="uk-margin">
              <h4>
                <b>background</b>
              </h4>
              <textarea
                [ngModel]="base.background"
                name="background"
                cols="30"
                rows="10"
                class="uk-textarea"
                rows="5"
              ></textarea>
            </div>
          </div>
          <div class="uk-card-footer">
            <button
              class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom"
            >
              Submit Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
