<div *ngIf="base">
  <a
    routerLink="../../"
    class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom uk-button-small"
  >
    <a uk-icon="icon: arrow-left"></a>
    go back</a
  >

  <div class="uk-child-width-expand@s uk-margin-small-top uk-grid" uk-grid="">
    <div>
      <div class="uk-card uk-card-hover uk-card-default ">
        <div class="uk-card-media-top">
          <div>
            <img src="{{ base.image }}" class="uk-width-1-1" alt="" />
          </div>
        </div>
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-card-title">
              <b>{{ base.name }}</b>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <b>{{ base.location }}</b>
          <p>
            {{ base.background }}
          </p>
        </div>
        <div class="uk-card-footer">
          <a
            routerLink="../../edit/{{ base._id }}"
            class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom uk-button-small"
          >
            <a uk-icon="icon: pencil"></a>
            Edit</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
